body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(-225deg,
            #ff3cac 0%,
            #562b7c 52%,
            #2b86c5 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: white;
    margin-bottom: 60px;
    font-size: 70px;
    font-family: cursive;
    text-shadow: 2px 20px 20px #000000;
}

.clock {
    color: white;
    font-size: 100px;
    font-family: cursive;
    padding: 20px;
    margin-bottom: 40px;
    text-align: center;
    width: 55%;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-bottom: 30px;
}

/*button {
    width: 20%;
    border-radius: 25px;
    border: none;
    color: white;
    font-family: cursive;
    text-align: center;
    padding: 15px;
    font-size: 30px;
    margin-bottom: 30px;
    background-image: linear-gradient(
      to top,
      #fcc5e4 0%,
      #fda34b 15%,
      #ff7882 35%,
      #c8699e 52%,
      #7046aa 71%,
      #0c1db8 87%,
      #020f75 100%
    );
  }*/